.zs-villa-details {
    padding: 5rem;
    border: 1px solid var(--grey-15);
    border-radius: 1.2rem;
    max-width: 50%;
    height: fit-content;
}
.zs-villa-details-wrapper{
    display: flex;
}
.zs-section-title {
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--color-white);
    margin-bottom: 1.4rem;
}

.zs-villa-description-text {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--grey-60);
    margin-bottom: 5rem;
}

.zs-villa-stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: 1px solid var(--grey-15);
    padding-top: 2rem;

    .zs-stat-item {
        border-right: 1px solid var(--grey-15);
        padding-left: 1rem;

    }
    .zs-stat-item:not:first-child{
        margin-left: 1rem;
    }
    .zs-stat-item:last-child {
        border-right: none;
    }
}

.zs-stats-info {
    display: flex;
    align-items: flex-end;

    .icon {
        color: var(--grey-60);
        font-size: 2.4rem;
    }

    .zs-stats-info-text {
        margin-left: 0.6rem;
        color: var(--color-white);
        font-size: 1.8rem;
        font-weight: 500;
    }
}

.zs-stat-value {
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--color-white);
    margin-top: 1rem;
}

/*End Villa Details*/

/*Villa Key Feature*/
.zs-villa-details-wrapper {
    display: flex;
    gap: 3rem;
    margin-top: 3rem;
}

.zs-villa-feature {
    padding: 5rem;
    border: 1px solid var(--grey-15);
    border-radius: 1.2rem;
}

.zs-features-list {
    display: flex;
    flex-direction: column;
}

.zs-feature-title {
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--color-white);
    margin-bottom: 5rem;
}

.zs-feature-item {
    padding: 1.8rem 2.4rem;
    margin-bottom: 3rem;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--grey-60);
    border-left: 1px solid var(--purple-60);
    background-image: linear-gradient(to right, var(--grey-10), #1A1A1A00);
    display: flex;
    align-items: center;

    img {
        margin-right: 1rem;
    }
}
@media screen and (max-width:1440px) and (min-width:992px){
    .zs-stats-info .icon{
        width: 2rem;
    }
    .zs-stats-info  .zs-stats-info-text{
        font-size: 1.4rem;
    }
    .zs-stat-value{
        font-size: 2rem;
    }
    .zs-villa-feature{
        padding: 4rem;
        .zs-feature-title{
            margin-bottom: 4rem;
        }
        .zs-feature-item{
            margin-bottom: 2rem;
        }
    }
}
@media screen and (max-width:992px){
    .zs-villa-details-wrapper{
        display: flex;
        flex-direction: column;
    }
    .zs-villa-details{
        max-width: 100%;
        padding: 2rem;
    }
    .zs-villa-description-text {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    }
        .zs-villa-stats {
        grid-template-columns: repeat(2, 1fr); 
    }
    .zs-villa-stats > *:nth-child(2){
        border-right: none;
    }
    .zs-villa-stats > *:nth-child(3) {
        grid-column: 1 / -1;
        margin-top: 4rem;
        border-top: 1px solid var(--grey-15);
        padding-top: 2rem;
    }
    .zs-section-title{
        font-size: 1.8rem;
    }
        .zs-stat-value{
        font-size: 1.8rem;
    }
    .zs-villa-feature{
        padding: 2rem;
        .zs-feature-title{
            font-size: 1.8rem;
            margin-bottom: 2rem;
        }
    }
    .zs-feature-item{
        padding: 1rem 1.2rem;
        margin-bottom: 1.8rem;
        span{
            font-size: 1.4rem;
        }
    }
    .zs-feature-item:last-child{
        margin-bottom: 2rem;
    }
}
