.zs-faq-card {
    margin-top: 8rem;
    margin-bottom: 5rem;
    overflow: hidden;
}

.zs-faq-navigation {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid var(--grey-15);
    padding-top: 2rem;
    margin-top: 3rem;
    width: calc(100% - 4rem);
    margin-inline: auto;
}

.zs-faq-card .swiper-slide {
    height: auto;
    display: flex;
}

@media screen and (max-width:1440px) {
    .zs-faq-card {
        margin-top: 6rem;
    }
}

@media screen and (max-width:992px) {
    .zs-faq-card {
        margin-top: 4rem;
        margin-bottom: 3rem;
    }
}

@media screen and (max-width:576px) {
    .zs-faq-card .mk-card {
        width: 100%;
    }

    .zs-faq-navigation {
        justify-content: space-between;
    }
}