.zs-faq-card {
    margin-top: 80px;
    margin-bottom: 50px;
    overflow: hidden;
}

.zs-faq-navigation {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid var(--grey-15);
    padding-top: 20px;
    margin-top: 30px;
}

.zs-faq-card .swiper-slide {
    height: auto;
    display: flex;
}

@media screen and (max-width:1440px) {
    .zs-faq-card {
        margin-top: 60px;
    }
}

@media screen and (max-width:992px) {
    .zs-faq-card {
        margin-top: 40px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width:576px) {
    .zs-faq-card .mk-card {
        width: 100%;
    }

    .zs-faq-navigation {
        justify-content: space-between;
    }
}