.zs-img-mansion {
    margin: 0 auto;
    padding: 50px;
}

.zs-img-mansion img {
    display: block;
    width: 100%;
}
@media screen and (max-width:1440px){
    .zs-img-mansion{
        width: fit-content;
        padding: 40px;
    }
}
@media screen and (max-width:576px){
        .zs-img-mansion{
            padding: 20px;
        }
}