.social-footer {
    padding: 16px 162px;
    width: 100%;
    height: fit-content;
    background-color: var(--grey-10);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons svg {
    color: var(--color-white);
}

.allrights {
    display: flex;
    gap: 38px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.6;
}

.social-icon {
    display: flex;
    gap: 10px;
    width: 52px;
    height: 52px;
    border-radius: 58px;
    padding: 14px;
    background-color: var(--grey-08);
    font-size: 24px;
}


@media screen and (max-width: 1440px) and (min-width: 993px) {
    .social-footer {
        padding: 12px 80px;
    }

    .social-icons {
        gap: 8px;
    }

    .allrights {
        gap: 20px;
        font-size: 14px;
    }

    .social-icon {
        width: 40px;
        height: 40px;
        font-size: 20px;
        padding: 10px;
    }
}


@media screen and (max-width: 992px) {
    .social-footer {
        padding: 20px 16px;
        flex-direction: column-reverse;
        gap: 20px;
    }

    .social-icons {
        gap: 8px;
    }

    .allrights {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 14px;
    }

    .social-icon {
        width: 60px;
        height: 60px;
        font-size: 20px;
        padding: 20px;
    }
}