.serviceCTA {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    min-height: 26.6rem;
    width: 100%;
}

.serviceCTA .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.serviceCTA.background {
    background-image: url(/assets/imgs/ServicesPage/AbstractDesignDesktop.png);
    background-color: var(--grey-10);
}

.wide h3 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 150%;
    color: var(--color-white);
}

.wide p {
    /* max-width: 952.3333px; */
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 150%;
    color: var(--grey-60);
}

.narrow h3 {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 150%;
    color: var(--color-white);
}

.narrow p {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 150%;
    color: var(--white-90);
}

@media screen and (max-width: 1440px) and (min-width: 993px) {
    .serviceCTA {
        min-height: 23.2rem;
        gap: 2rem;
    }

    .wide h3 {
        font-size: 2.4rem;
    }

    .wide p {
        font-size: 1.6rem;
    }

    .narrow h3 {
        font-size: 2.2rem;
    }

    .narrow p {
        font-size: 1.6rem;
    }
}



@media screen and (max-width: 992px) {

    .serviceCTA {
        gap: 2rem;
        padding: 24px;
    }

    .serviceCTA.background {
        background-image: url(/assets/imgs/ServicesPage/AbstractDesignMobile.png);
    }

    .wide h3 {
        font-size: 2rem;
    }

    .wide p {
        font-size: 1.4rem;
    }

    .narrow h3 {
        font-size: 2rem;
    }

    .narrow p {
        font-size: 1.4rem;
        color: var(--grey-60);
    }

    .serviceCTA .container {
        flex-direction: column;
        align-items: normal;
    }

    .serviceCTA .container button {
        width: 100%;
    }
}