.input-container {
    width: 22.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    border: 1px solid var(--grey-15);
    border-radius: 12px;
    padding: 18px;
}

.input-style {
    display: flex;
    align-items: center;
    gap: 10px;
}

input {
    background: none;
    border: none;
    outline: none;
}

input::placeholder {
    color: var(--grey-60);
}

.icon {
    width: 24px;
}

.icon1 {
    width: 30px;
}

button {
    width: fit-content;
    background: none;
    border: none;
    outline: none;
}

@media screen and (min-width: 993px) and (max-width: 1919px) {
    .input-container {
        width: 305px;
        border-radius: 8px;
        padding: 14px;
        margin-top: 24px;
    }

    .icon {
        width: 20px;
    }

    .icon1 {
        width: 24px;
    }
}

@media screen and (max-width: 992px) {
    .input-container {
        width: 88vw;
        max-width: 70%;
        border-radius: 8px;
        padding: 14px;
    }

    .icon {
        width: 20px;
    }

    .icon1 {
        width: 24px;
    }
}

@media screen and (max-width: 500px) {
    .input-container {
        width: 88vw;
        max-width: 100%;
    }
}