.footer_list {
    background-color: var(--grey-08);
    padding: 100px 162px;
    display: flex;
    justify-content: space-between;
    gap: 5.5vw;
}

.footer-columns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 7%;
}

.footer-column li {
    font-weight: 500;
    font-size: 18px;
    color: var(--color-white);
    line-height: 24px;
    letter-spacing: -0.6%;
    margin-bottom: 20px;
}

.footer-column h4 {
    font-weight: 500;
    font-size: 20px;
    color: var(--grey-60);
    margin-bottom: 30px;
    line-height: 24px;
    letter-spacing: -0.6%;
}

@media screen and (max-width: 1440px) and (min-width: 993px) {
    .footer_list {
        padding: 80px;
        justify-content: center;
    }

    .footer-column h4 {
        font-size: 18px;
        margin-bottom: 24px;
    }

    .footer-column li {
        font-size: 16px;
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 992px) {
    .footer_list {
        padding: 50px 16px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-columns {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin-top: 50px;
        position: relative;
    }

    .footer-column li {
        font-size: 14px;
        margin-bottom: 8px;
    }

    .footer-column h4 {
        font-size: 16px;
        margin-bottom: 16px;
    }



    .footer-columns> :nth-child(4) {
        grid-row: span 2;
    }

    .footer-columns> :nth-child(1),
    .footer-columns> :nth-child(3),
    .footer-columns> :nth-child(5) {
        margin-right: 20px;
    }

    .footer-columns> :nth-child(2),
    .footer-columns> :nth-child(4) {
        margin-left: 20px;
    }

    .footer-columns> :nth-child(4)::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 58%;
        left: 50%;
        width: 1px;
        background-color: #262626;
        transform: translateX(-50%);
    }

    .footer-columns> :nth-child(5)::before {
        content: "";
        position: absolute;
        top: 45%;
        bottom: 2%;
        left: 50%;
        width: 1px;
        background-color: #262626;
        transform: translateX(-50%);
    }

    .UlStyle {
        padding-bottom: 20px;
        border-bottom: 1px solid var(--grey-15);
    }
}