.hero {
    padding-bottom: 4rem;
}

@media screen and (max-width: 992px) {



    .serviceNavigationBar {
        padding: 33px 16px !important;
        padding-top: 10vw !important;
    }

    .baseCard {
        border-radius: 1.2rem !important;
    }

}