.zs-villa-header {
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
}

.zs-villa-info {
    display: flex;
    align-items: center;

    .zs-villa-name {
        font-size: 3rem;
        font-weight: 600;
        color: var(--color-white);
        line-height: 150%;
    }
}

.zs-villa-location {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-left: 2rem;

    .zs-villa-location-icon {
        margin-right: 0.6rem;
    }
}

.zs-villa-location:hover {
    background-color: inherit !important;
}

.zs-villa-cost {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

    .zs-villa-price-word {
        color: var(--grey-60);
        font-size: 1.8rem;
        line-height: 150%;
        font-weight: 500;
    }

    .zs-villa-price {
        font-size: 2.4rem;
        color: var(--color-white);
        font-weight: 600;
    }
}

@media screen and (max-width: 1440px) {
    .zs-villa-name {
        font-size: 2.4rem !important;
    }

    .zs-villa-location,
    .zs-villa-price-word {
        font-size: 1.4rem !important;
    }

    .zs-villa-price {
        font-size: 2rem !important;
    }
}

@media screen and (max-width:992px) {
    .zs-villa-header {
        flex-direction: column;
        align-items: baseline;
        margin-bottom: 3rem;
    }

    .zs-villa-location {
        margin-left: 0;
    }

    .zs-villa-cost-wrapper {
        display: flex;
        margin-left: 2rem;

        .zs-villa-price-word {
            margin-right: 0.4rem;
        }
    }

    .zs-villa-cost {
        display: flex;
    }

    .zs-villa-name {
        font-size: 2rem !important;
        margin-bottom: 1rem;
    }

    .zs-villa-price {
        font-size: 1.8rem !important;
    }

    .zs-villa-info {
        flex-direction: column;
        align-items: baseline !important;
    }
}