.ms-values-container {
    display: flex;
    gap: 8rem;
}

.ms-values-left {
    flex: 1 1 35%;
    align-self: center;
    max-width: 517px;
}

.ms-values-right {
    flex: 1 1 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    column-gap: 0px;
    border-radius: 8px;
}

@media screen and (max-width: 1440px) and (min-width: 993px) {
    .ms-values-container {
        gap: 6rem;
    }
}

@media screen and (max-width: 992px) {
    .ms-values-container {
        flex-direction: column;
        gap: 4rem;
    }

    .ms-values-left {
        align-self: flex-start;
        max-width: max-content;
    }

    .ms-values-right {
        width: 100% !important;
        grid-template-columns: 1fr;
    }
}