.baseContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    p {
        padding-bottom: 30px;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 150%;
        color: var(--grey-60);
    }
}

.cardImage {
    padding-bottom: 30px;
    width: 100%;
    border-radius: 1rem;
    min-height: 282.77px;
}

.baseContainer h2 {
    padding-bottom: 6px;
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--color-white);
}

.baseContainer span {
    font-weight: 500;
    color: var(--color-white);
    text-decoration: underline;
    text-decoration-thickness: 0%;
}

.baseContainer .properties {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 30px;
}

.baseContainer .container {
    display: flex;
    justify-content: space-between;
    gap: 2.6041vw;
}

.baseContainer .priceContainer {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.baseContainer .priceTitle {
    color: var(--grey-60);
    text-decoration: none;
    font-size: 1.8rem;
}

.baseContainer .price {
    color: var(--color-white);
    font-size: 2.4rem;
    font-weight: 600;
    text-decoration: none;
}

.withoutIcon {
    margin-bottom: 2rem;
}

@media screen and (max-width: 1734px) and (min-width: 1441px) {
    .baseContainer {
        padding: 2rem;
    }

    .baseContainer button {
        font-size: 1.6rem;
    }

    .baseContainer .properties {
        gap: 5px;
    }

    .baseContainer .properties span {
        font-size: 1.4rem;
    }

    .baseContainer .priceTitle {
        font-size: 2rem;
    }

    .baseContainer .price {
        font-size: 1.8rem;
    }

    .baseContainer h2 {
        padding-bottom: 4px;
        font-size: 1.6rem;
    }

    .baseContainer p {
        padding-bottom: 24px;
        font-size: 1.4rem;
    }
}

/* ============================================================= */

@media screen and (min-width: 993px) and (max-width: 1919px) {
    .baseContainer .properties {
        gap: 6px;
    }

    .baseContainer .priceTitle {
        font-size: 1.4rem;
    }

    .baseContainer .price {
        font-size: 2rem;
    }

    .baseContainer h2 {
        padding-bottom: 4px;
        font-size: 2rem;
    }

    .baseContainer p {
        padding-bottom: 24px;
        font-size: 1.6rem;
    }

    .withoutIcon {
        margin-bottom: 1.6rem;
    }
}

/* ============================================================= */

@media screen and (max-width: 992px) {
    .baseContainer .properties {
        gap: 6px;
    }

    .baseContainer .priceTitle {
        font-size: 1.4rem;
    }

    .baseContainer .price {
        font-size: 1.8rem;
    }

    .baseContainer h2 {
        padding-bottom: 2px;
        font-size: 1.8rem;
    }

    .baseContainer p {
        padding-bottom: 20px;
        font-size: 1.4rem;
    }

    .cardImage {
        min-height: 210px;
    }

    .withoutIcon {
        margin-bottom: 1.4rem;
    }
}