.container {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    padding-top: 8rem;
}

.container>* {
    flex: 1;
}

/* ============================================================= */

@media screen and (max-width: 1440px) and (min-width: 993px) {
    .container {
        gap: 2rem;
        padding-top: 6rem;
    }
}

/* ============================================================= */

@media screen and (max-width: 992px) {
    .container {
        padding-top: 4rem;
    }
}