.mk-card{
    width: fit-content;
    background-color: var(--grey-08);
    border: 1px solid var(--grey-15);
    border-radius: 12px;
}

.mk-medium-padding{
    padding: 40px;
}

.mk-large-padding{
    padding: 50px;
}

@media screen and (max-width: 1440px) and (min-width: 993px){
    .mk-card{
        border-radius: 10px;
    }

    .mk-medium-padding{
        padding: 30px;
    }

    .mk-large-padding{
        padding: 40px;
    }
}

@media screen and (max-width: 992px) and (min-width: 300px){
    .mk-card{
        border-radius: 10px;
    }

    .mk-medium-padding{
        padding: 24px;
    }

    .mk-large-padding{
        padding: 30px;
    }
}