.mk-card{
    width: fit-content;
    background-color: var(--grey-08);
    border: 1px solid var(--grey-15);
    border-radius: 12px;
}

.mk-medium-padding{
    padding: 4rem;
}

.mk-large-padding{
    padding: 5rem;
}

@media screen and (max-width: 1440px) and (min-width: 993px){
    .mk-card{
        border-radius: 10px;
    }

    .mk-medium-padding{
        padding: 3rem;
    }

    .mk-large-padding{
        padding: 4rem;
    }
}

@media screen and (max-width: 992px) and (min-width: 300px){
    .mk-card{
        border-radius: 10px;
    }

    .mk-medium-padding{
        padding: 2.4rem;
    }

    .mk-large-padding{
        padding: 3rem;
    }
}