
@font-face {
    font-family: "Urbanist";
    src: url('/font/Urbanist-SemiBold.ttf');
}

.ms-font-color{
    font-family:" Urbanist";
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
}

.ms-property-services-container {
    width: 100%; 
    display: flex;
    justify-content: center; 
    padding: 20px 0; 
}


.ms-property-services-wrapper {
    display: flex;
    gap: 20px; 
    width: 100%;
    max-width: 1200px; 
    justify-content: center;
}


.ms-property-service-card {
    display: flex;
    align-items: center; 
    background-color: #1A1A1A; 
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    flex: 1; 
    min-width: 0; 
}


.ms-service-icon-container {
    margin-right: 20px; 
}



.ms-service-icon-bg {
    width: 82px; 
    height: 82px; 
    background-color: #1A1A1A; 
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
}


.ms-service-icon {
    width: 40px; 
    height: 40px;
    object-fit: contain; 
}


.ms-service-content {
    flex: 1; 
}

.ms-service-title {
    font-size: 18px; 
    font-weight: bold; 
    margin-bottom: 8px; 
    color: #FFFFFF; 
}


.ms-service-description {
    font-size: 14px;
    color: #FFFFFF; 
    margin: 0; 
}


.ms-service-arrow {
    margin-left: 15px; 
}
.ms-arrow-icon {
    width: 34px; 
    height: 34px;
    object-fit: contain; 
    transform: rotate(-45deg); 
}

@media (max-width: 1440px) {
    .ms-service-icon-bg {
        width: 60px; 
        height: 60px;
    }
    
    .ms-service-icon {
        width: 30px; 
        height: 30px;
    }
    
    .ms-service-title {
        font-size: 16px; 
    }
    
    .ms-service-description {
        font-size: 13px;
    }
    
    .ms-arrow-icon {
        width: 26px;
        height: 26px;
    }
}


@media (max-width: 768px) {
    .ms-property-services-wrapper {
        flex-direction: column; 
        gap: 15px; 
    }
    
    .ms-property-service-card {
        padding: 15px; 
    }
    
    .ms-service-icon-bg {
        width: 48px; 
        height: 48px;
    }
    
    .ms-service-icon {
        width: 24px; 
        height: 24px;
    }
    
    .ms-service-title {
        font-size: 15px; 
    }
    
    .ms-service-description {
        font-size: 12px;
    }
    
    .ms-arrow-icon {
        width: 26px;
        height: 26px;
    }
}

