.MS-icon-star-container {
    display: flex;
    justify-content: left;
    align-items: start;
    width: 100%;
    background-color: #141414;
    padding-left: 142px;
}

.MS-icon-star {
    width: 68.4px;
}


/* style for Laptop*/
@media screen and (max-width: 1440px) and (min-width: 993px) {
    .MS-icon-star-container {
        padding-left: 70px;
    }

    .MS-icon-star {
        width: 54.72px;
    }
}

/* style for Mobile */
@media screen and (max-width: 992px) and (min-width: 300px) {
    .MS-icon-star-container {

        padding-left: 8px;
    }

    .MS-icon-star {
        width: 45.6px;
    }
}