/*Header*/
.zs-villa-header {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.zs-villa-info {
    display: flex;
    align-items: center;

    .zs-villa-name {
        font-size: 30px;
        font-weight: 600;
        color: var(--color-white);
        line-height: 150%;
    }
}
.zs-villa-location {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 20px;

    .zs-villa-location-icon {
        margin-right: 6px;
    }
}
.zs-villa-location:hover {
    background-color: inherit !important;
}
.zs-villa-cost {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    .zs-villa-price-word {
        color: var(--grey-60);
        font-size: 18px;
        line-height: 150%;
        font-weight: 500;
    }

    .zs-villa-price {
        font-size: 24px;
        color: var(--color-white);
        font-weight: 600;
    }
}
/*End Villa Header*/
/*Villa Image*/
.zs-img-mansion {
    width: 100%;
}
.zs-img-mansion img {
    display: block;
    max-inline-size: 100%;
    height: 100%;
}
/*End Villa Image*/

/*Villa Details*/
.zs-villa-details{
    padding: 50px;
    border: 1px solid var(--grey-15);
    border-radius: 12px;
    max-width: 50%;
    height: fit-content;
}
.zs-section-title{
    font-size: 24px;
    font-weight: 600;
    color: var(--color-white);
    margin-bottom: 14px;
}
.zs-villa-description-text{
    font-size: 18px;
    font-weight: 500;
    color: var(--grey-60);
    margin-bottom: 50px;
}
.zs-villa-stats{
    display: flex;
    border-top: 1px solid var(--grey-15);
    padding-top: 20px;
    gap: 20px;
    .zs-stat-item{
        border-right: 1px solid var(--grey-15);
        flex-grow: 1;
        margin-right: 20px;
    }
    .zs-stat-item:last-child{
        border-right: none;
    }
}
.zs-stats-info{
    display: flex;
    align-items: flex-end;
     .icon{
        color: var(--grey-60);
        font-size: 24px;
     }
     .zs-stats-info-text{
        margin-left: 6px;
        color: var(--color-white);
        font-size:18px;
        font-weight: 500;
     }
}
     .zs-stat-value{
        font-size: 24px;
        font-weight: 600;
        color: var(--color-white);
        margin-top: 10px;
    }
/*End Villa Details*/

/*Villa Key Feature*/
.zs-villa-details-wrapper{
    display: flex;
    gap: 30px;
    margin-top: 30px;
}
.zs-villa-feature{
    padding: 50px;
    border: 1px solid var(--grey-15);
    border-radius: 12px;
}
.zs-features-list{
    display: flex;
    flex-direction: column;
}
.zs-feature-title{
    font-size:24px;
    font-weight: 600;
    color: var(--color-white);
    margin-bottom: 50px;
}
.zs-feature-item{
    padding: 18px 24px;
    font-size:18px;
    font-weight: 500;
    color: var(--grey-60);
    border-left: 1px solid var(--purple-60);
    background-image: linear-gradient(to right, var(--grey-10) 1%, #141414 50%);
    display: flex;
    align-items: center;

    img{
        margin-left: 24px;
        margin-right: 10px;
    }
}
/*End Villa Key Feature*/
@media screen and (max-width: 1440px){
    .zs-villa-name {
        font-size: 24px !important;
    }
    .zs-villa-location,
    .zs-villa-price-word{
        font-size: 14px !important;
    }
    .zs-villa-price{
        font-size: 20px !important;
    }
}
@media screen and (max-width: 992px) {
    .zs-img-mansion {
        aspect-ratio: 1 / 1;
    }
    .zs-img-mansion img{
        object-fit: cover;
    }
    .zs-villa-name {
        font-size: 20px !important;
        margin-bottom: 10px;
    }
    .zs-villa-price{
        font-size: 18px !important;
    }
.zs-villa-info{
    flex-direction: column;
    align-items: baseline;
}
.zs-villa-cost{
    display: flex;
}
.zs-villa-cost-wrapper{
    display: flex;
    margin-left: 20px;
    .zs-villa-price-word{
        margin-right:4px ;
    }
}
.zs-villa-header {
    flex-direction: column;
    align-items: baseline;
    margin-bottom: 30px;
}
.zs-villa-location{
    margin-left: 0;
}
}