/* 
    Start General Section Styling
*/
.section {
    width: 100%;
    padding: 55px 8.4375vw;
    background-color: var(--grey-08);
    margin-bottom: -1px;
}

/* 
    End General Section Styling
*/

/* ============================================================= */

@media screen and (max-width: 1440px) and (min-width: 993px) {

    /* 
        Start General Section Styling
    */

    .section {
        padding: 45px 5.5555vw;
    }

    /* 
        End General Section Styling
    */
}

/* ============================================================= */

@media screen and (max-width: 992px) {

    /* 
        Start General Section Styling
    */

    .section {
        padding: 33px 16px;
    }

    /* 
        End General Section Styling
    */
}