.zs-Exp-card-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.zs-card-step-wrapper {
    border-left: 1px solid var(--purple-60);
    padding: 1.6rem 2rem;
    position: relative;
}
/*Top border Linear Gradient Effect*/
.zs-card-step-wrapper::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 97.8%;
    height: 1px;
    z-index: 2;
    background: linear-gradient(to right,
            #7b3fff 0%,
            #7b3fff99 25%,
            #262626 40%,
            #1d1d1d 100%)
}
.zs-card-step {
    font-size: 2rem;
    font-weight: 500;
    line-height: 150%;
    color: var(--color-white);
}

.zs-exp-card {
    border-radius: 1.2rem;
    border-left: 0;
    border-top: 0;
    border-top-left-radius: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}
/*Halo Effect*/
.zs-exp-card::before {
    content: "";
    position: absolute;
    top: -100px;
    left: -100px;
    width: 60%;
    height: 60%;
    background: radial-gradient(circle,
            #7b3fffe6 0%,
            #7b3fff2e 22%,
            #7b3fff0f 36%,
            transparent 45%);
    filter: blur(45px);
}
/*left border Linear Gradient Effect*/
.zs-exp-card::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 100%;
    z-index: 2;
    background: linear-gradient(to bottom,
            #7b3fff 0%,
            #7b3fff99 25%,
            #262626 40%,
            #1d1d1d 100%)
}
.zs-exp-card-title {
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 150%;
    color: var(--color-white);
    margin-bottom: 20px;
}
.zs-exp-card-desc {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 150%;
    color: var(--grey-60);
}

@media screen and (max-width:1440px) {
    .zs-card-step,
    .zs-exp-card-desc {
        font-size: 1.6rem;
    }
    .zs-exp-card-title {
        font-size: 2rem;
    }
}

@media screen and (max-width:992px) {
    .zs-exp-card-desc {
        font-size: 1.4rem;
    }
    .zs-exp-card-title {
        font-size: 1.8rem;
    }
}