.zs-exp-cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    row-gap: 5rem;
    margin-top: 8rem; 
}

@media screen and (max-width:1440px){
  .zs-exp-cards-grid{
    margin-top: 6rem; 
    gap:2rem;
    row-gap:4rem;
  }
}

@media screen and (max-width: 992px) {
  /* choose all childern from No.4 to the last one */
  .zs-exp-cards-grid > *:nth-child(n + 5) {
    display: none;
  }
    .zs-exp-cards-grid {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 4rem; 
        gap: 3rem;
    }
}

@media screen and (max-width: 576px){
    .zs-exp-cards-grid > *:nth-child(n + 4) {
    display: none;
  }
    .zs-exp-cards-grid {
        grid-template-columns: 1fr;
    }
}